*{
  box-sizing: border-box;
  font-family: Arial, sans-serif
}
body{
  min-height: 100vh;
  border: 0px solid #333;
  transition: all .3s ease;
  margin:0;
}
.info-tooltip{
  width:20px;
  height:20px;
  display:inline-block;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTIyIDM0aDR2LTEyaC00djEyem0yLTMwYy0xMS4wNSAwLTIwIDguOTUtMjAgMjBzOC45NSAyMCAyMCAyMCAyMC04Ljk1IDIwLTIwLTguOTUtMjAtMjAtMjB6bTAgMzZjLTguODIgMC0xNi03LjE4LTE2LTE2czcuMTgtMTYgMTYtMTYgMTYgNy4xOCAxNiAxNi03LjE4IDE2LTE2IDE2em0tMi0yMmg0di00aC00djR6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  vertical-align: bottom;
  position:relative;
}
.info-tooltip::after{
  content: attr(data-title);
  position: absolute;
  top:0;
  left:0;
  width: 250px;
  max-width: 300px;
  color: #f4f4f4;
  background-color: #000;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}
.info-tooltip:hover::after{
  opacity:1;
  visibility: visible;
}
.rssc-wrapper {
  max-width: 736px;
  margin:auto;
  padding: 10px;
}
.rssc-wrapper label{
  font-weight: 700;
  display: block;
  margin-top: 1em;
}
.rssc-wrapper textarea{
  width: 100%;
  display: block;
  padding: 10px;
  resize: vertical;
  border: 4px solid #000;
}
.controls-wrapper{
  display:flex;
  flex-flow: row wrap; 
  justify-content: space-between;
}
.controls-wrapper > div{
  margin:0 5px;
}
.file-loader-item,
.dictate-toggler-item,
.column-selector-item{
  display:inline-block;
}
.column-selector-item {
  vertical-align:top;
}
.dictate-toggler-item > label,
.file-loader-item > label{
  display:inline-block;
  position: relative;
  padding: 0 10px 0 40px;
  height: 40px;
  overflow: hidden;
  line-height: 33px;
  cursor: pointer;
  background-color: #fff;
  border:3px solid #000;
  border-radius: 35px;
  transform: translateZ(0);
  transition: all .3s ease;
  opacity: 0.50;
}
.file-loader-item > label{
  border-style:dashed;
}
.dictate-toggler-item > label::after,
.file-loader-item > label::after{
  content: '';
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: 50%;
}
.dictate-toggler-item > label::after{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABQ0lEQVRYhe3Wu0oDQRTG8R8iIhaijZWIhQSxshALH8DeNlj5CHkA2yBWqaysLS3EztiIjZcyWAiiz+AFooRY7AlEMbrZ7AqBfHCYy34z57/sMnMYKZs2UcdrRD3m/kUVtHtEpejk62j9AtAKT2E6+iV5J46KBHhKAfDUz4ZjfQJM5+TJDJC7RgBDAdDGaoa9Z2LtwACFagQwFADvmIj+Wwr/S7STsXZggAcsR/8qhf8m2hIe8wA4w1b0ayn8Hc8WzlP4/9QKPrAW46reN2E1PPN4lu38+FE13GMuxttodCVuoBzPpnCJw7ySk/yEpwHRXfFM+3r9lnCNiwDJVePYRxMn2MFGAJUllVBT8ua5J+/WEvZwK6mIm7jDgRy/eVrt4niQDYbiJCxU4314x7DwbW5W8sMtfpt/zI7UW50CI02MlFqfsgxfKw7VJOgAAAAASUVORK5CYII=);
}
.file-loader-item > label::after{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAnklEQVRIS+3WvQ3CMBCG4ddDgNIBE6EMkT1gC8QaWYBVKMkSia5LohPfycYShd3avuf870TlkirHxwN64AEcBX4HbipBD/gEgr+BEyARD5hVVsAFeEWQXMD6nSNICWADlUgpIJFfAHtkEzMX+LYPGiBPSZuiNkUQuU3/+6BNwEEupd/AHqtuXeXdRVfgGXjV9oQFH4BRAZnJ+92q/yoWphUjGRDlIkUAAAAASUVORK5CYII=);
}
.dictate-toggler-item > label:hover,
.file-loader-item > label:hover{
  opacity: 1;
}
.is-dragover{
  border:7px solid #333;
}
.is-dragover .file-loader-item > label{
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 5px 5px 0 #eee;
}
.dictate-toggler-item > input:checked + label::after{
  background-color: #f93f3f;
}
.dictate-toggler-item > input,
.file-loader-item > input{
  display: none;
}

.rssc-wrapper .results-item input{
  border: none;
  border-bottom: 4px solid #000;
  padding: 10px;
  width: 160px;
}
.rssc-wrapper .results-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.rssc-wrapper .results-wrapper::after{
  content: '';
  flex: auto;
  min-width: 170px;
  max-width: 170px;
}
.rssc-wrapper .results-item{
  padding: 5px;
}

.select-style {
  position: relative;
  display: inline-block;
}
.select-style:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  right: 7px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #000;
}
.select-style select {
  color: #000;
  display: inline-block;
  position: relative;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 22px 2px 7px;
  border: 2px solid;
  border-radius: 2px;
  background: transparent;
}


/* Plot */
.plotting-section{
  margin: 2em auto 1em auto;
}
.plot-controls > div{
  display: inline-block;
  margin: 5px 0px 5px 5px;
}
.step-input-item input{
  width: 50px;
  border: 2px solid;
  padding: 2px;
}
.chart-container{
  padding: 15px;
  padding-top:30px;
  background-color:#101015;
  border-radius: 4px;
}
.chart-wrapper{
  position:relative;
  color: #fff;
}
.chart-wrapper * {
  color: #fff;
}
.dygraph-legend {
  width:100%;
  text-align: right;
  background:#101015;
  /*top:10px !important;*/
  top: -18px !important;
}
.dygraph-xlabel{
  padding: 7px;
}
/*.chart-wrapper > div:first-child > div:nth-child(7){
  top:-18px !important;
}*/